# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Office temp files
~$*.pptx
~$*.xlsx
~$*.docx

# Sensitive config
.env
lseg_config.json
